@import './var';

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Montserrat', 'Century Gothic', sans-serif;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
main {
	padding: 30px 0;
	background-color: $bgColor;
}
body.lock {
	overflow: hidden;
	padding-right: 17px;
}
.slick-next,
.slick-prev {
	z-index: 50;
	border-radius: 20px;
	border: 1px solid #e1e1e1;
	background: #fff;
	padding: 10px;
	height: 40px;
	width: 40px;
	top: 30%;
	color: #131313;
	opacity: 0.4;
	&:hover {
		background: #fff;
		opacity: 0.8;
	}
	&:focus {
		background: #fff;
		opacity: 0.8;
	}
	&::before {
		color: #131313;
		font-size: 18px;
		opacity: 0.7;
		margin: auto;
		&:hover {
			opacity: 0.8;
		}
	}
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}

.react-tabs__tab-list {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
}
.react-tabs__tab {
	border-radius: 4px 4px 0 0;
	padding: 10px 20px;
	&:hover {
		color: rgb(9, 162, 223);
	}
}
.react-tabs__tab--selected {
	&:hover {
		color: black;
	}
}
.react-tabs__tab-panel--selected {
	border: 1px solid #aaa;
	border-top: none;
}
.react-tabs__tab--selected {
	cursor: default;
}

.react-tabs__tab {
	&:focus {
		box-shadow: none;
		&::after {
			content: none;
		}
	}
	&:hover {
		color: $colorButton;
	}
}
.react-tabs__tab--selected {
	color: $colorButton;
}
