%custom-shadow {
	-webkit-box-shadow: 0px 0px 13px -3px rgba(38, 44, 48, 0.15);
	-moz-box-shadow: 0px 0px 13px -3px rgba(38, 44, 48, 0.15);
	box-shadow: 0px 0px 13px -3px rgba(38, 44, 48, 0.15);
}
%custom-border {
	// border: solid 1px rgba(37, 37, 37, 0.5);
	border-radius: 5px;
}
%width-page {
	width: calc(100% - 280px);
}

@mixin costom_flex_col_center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
