$bgColor: #fafaff;
$colorButton: #37b7fa;
$colorButnHover: #47c8ff;
$colorTextSilver: #999999;
$colorSecondary: #fafa64;
$colorTextFooter: #b1b1b1;
$colorForMan: #23f4b5;
$colorForWoman: #f93b9b;
$colorNew: #3d6aca;
$colorSuperPrice: #38af20;
$colorSale: #ed1c24;
$colorLineSilver: #d8d8d8;
$colorDark: #353535;

$fontSize: 14px;
$fontSizeFooter: 12px;
$fontSizeTitle: 32px;
$fontSizeButton: 18px;

$mobMin: 320px;
$mobMax: 480px;
$tabMin: 481px;
$tabMax: 992px;
$deskMin: 993px;
$deskMax: 1200px;
$deskXMin: 1201px;
$deskXMax: 1450px;
