@import '../../utils/styles/_mixins.scss';

*::before,
*::after {
	box-sizing: border-box;
}
.container__input {
	display: flex;
	min-width: 100%;
	justify-content: space-between;
	align-items: center;
}

.heading {
	width: 80%;
	font-size: 2em;
	margin: 0.67em 0;
}

.item_footer {
	list-style-type: none;
	z-index: 1;
}
.menu_footer {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
}

.link {
	color: white;
	text-decoration: none;
	margin: 15px;
	&:hover {
		text-decoration: underline;
	}
	&_checkbox {
		color: blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.checkbox_license {
	max-width: 400px;
	text-align: left;
	position: relative;
	margin-top: 15px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.text_checkbox {
	font-size: 11px;
	line-height: 14px;
	font-family: sans-serif;
	position: relative;
	top: -1px;
}

.container__home {
	@include costom_flex_col_center;
}

.container__btn {
	@include costom_flex_col_center;
	min-width: 100%;
	margin: 40px 0;
	position: relative;
	&::before {
		content: '';
		left: -20%;
		background-image: url(../../theme/image/main-form-left-arrow.png);
		background-position: left center;
		-webkit-animation: slideArrowsLeft 1.5s 0s infinite both;
		animation: slideArrowsLeft 1.5s 0s infinite both;
	}
	@keyframes slideArrowsLeft {
		from {
			margin-left: -10%;
			opacity: 0;
		}

		to {
			margin-left: 0%;
			opacity: 1;
		}
	}
	@keyframes slideArrowsRight {
		from {
			margin-right: -10%;
			opacity: 0;
		}

		to {
			margin-right: 0%;
			opacity: 1;
		}
	}
	&::after {
		content: '';
		right: -20%;
		background-image: url(../../theme/image/main-form-right-arrow.png);
		background-position: right center;
		-webkit-animation: slideArrowsRight 1.5s 0s infinite both;
		animation: slideArrowsRight 1.5s 0s infinite both;
	}
	&::before,
	&::after {
		content: '';
		opacity: 0.5;
		position: absolute;
		width: 140%;
		height: 100%;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		background-repeat: no-repeat;
		pointer-events: none;
		filter: hue-rotate(180deg);
	}
}

.btn_home_box {
	min-width: 100%;
	position: relative;
	&::before {
		position: absolute;
		display: block;
		content: '';
		width: 132px;
		height: 126px;
		background: url(../../theme/image/main-form-button.png) center center
			no-repeat;
		background-size: 100% 100%;
		z-index: 2;
		left: -70px;
		top: 50%;
		margin-top: -63px;
		pointer-events: none;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		filter: hue-rotate(180deg);
	}
}
.container__input_modal {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

.form_title_modal {
	text-align: center;
	margin: 15px 0;
	color: #000;
	font-size: 16px;
	line-height: 18px;
}

.container__btn_modal {
	@include costom_flex_col_center;
	min-width: 100%;
	position: relative;
}

.btn_home_box_modal {
	min-width: 100%;
	position: relative;
}

.item__input_modal {
	background-color: #ededed;
	border: none;
	width: 100%;
	padding-left: 40px;
	border-radius: 3px;
	outline: none;
	height: 40px;
	font-size: 14px;
}

.icon_modal {
	position: absolute;
	color: black;
	top: 1%;
	left: 10%;
	pointer-events: none;
}

.text_checkbox_modal {
	font-size: 11px;
	line-height: 14px;
	font-family: sans-serif;
	position: relative;
	top: -1px;
	color: black;
}

.checkbox_license_modal {
	max-width: 400px;
	text-align: left;
	position: relative;
	margin-top: 15px;
	padding: 5px;
}
