.container__thanks {
	// max-width: 1140px;
	min-height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row__thanks {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.thanks {
	flex: 0 0 100%;
	max-width: 100%;
	&_text {
		color: #fff;
		border: 2px solid red;
		padding: 10px;
		text-align: center;
		margin: 2rem auto 4rem;
		width: 90%;
		max-width: 900px;
		font-size: 24px;
	}
}

.box__btn {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-right: 15px;
	padding-left: 15px;
}
.btn {
	display: block;
	color: #fff;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	background-color: #12bd00;
	border-radius: 15px;
	text-decoration: none;
}
