.video__container {
	width: 100%;
	position: relative;
	border: 3px solid #fff;
	background-color: #000;
	margin: 1rem auto;
	z-index: 1;
	&::before {
		padding-top: 56.25%;
		display: block;
		content: '';
	}
}

.video__item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.icon__volume {
	position: absolute;
	width: 160px;
	height: 140px;
	font-size: 20px;
	top: calc(50% - 70px);
	left: calc(50% - 80px);
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	animation: pulse 1s linear infinite;
	&_item {
		font-size: 60px;
	}
	@keyframes pulse {
		0% {
			transform: scale(1, 1);
		}

		50% {
			transform: scale(1.1, 1.1);
		}

		100% {
			transform: scale(1, 1);
		}
	}
}
