.done_block__reviews_items {
}
.rewiew {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 866px;
	width: 100%;
	position: relative;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	&::before {
		position: absolute;
		display: block;
		content: '';
		width: 43px;
		height: 79px;
		background: url(../../theme/image/main-two-form-arrow.png) center center
			no-repeat;

		background-size: 100% 100%;
		top: -25px;
		left: -90px;
		transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-moz-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		pointer-events: none;
	}
	&::after {
		position: absolute;
		display: block;
		content: '';
		width: 43px;
		height: 79px;
		background: url(../../theme/image/main-two-form-arrow.png) center center
			no-repeat;
		background-size: 100% 100%;
		top: -25px;
		right: -90px;
		pointer-events: none;
	}
}
.review_items {
	pointer-events: none;
	width: 405px;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 23px;
	padding: 18px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.review__user_photo {
	width: 88px;
	height: 88px;
	overflow: hidden;
	border-radius: 50%;
}
.review__info {
	margin-left: 15px;
}
.review__info_name {
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;
	line-height: 10px;
}
.review__info_signature {
	color: black;
	font-size: 16px;
}
.review__info_money {
	color: #10cc1b;
	font-size: 34px;
	font-weight: 700;
	line-height: 35px;
}
.imgs {
	max-width: 100%;
}
