.container__footer {
	position: relative;
	min-width: 100%;
	text-align: center;
	color: #fff;
	font-size: 13px;
	margin-top: 15px;
}

.footer__dark {
	position: absolute;
	min-height: 100%;
	min-width: 146%;
	left: -23%;
	border-top: 2px solid #a0a0a0;
	background-color: rgba(0, 0, 0, 0.8);
}

.copyright {
	position: relative;
	margin: 15px 0;
	z-index: 2;
}

.container {
	z-index: 1;
}
