.btn {
	line-height: 27px;
	color: white;
	cursor: pointer;
	top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 15px;
	padding-left: 75px;
	font-weight: 700;
	font-size: 20px;
	border: none;
	outline: none;
	text-align: center;
	padding-right: 15px;
	position: relative;
	box-shadow: 0 0 15px 0 #1eacf5;
	background: linear-gradient(90deg, #1eacf5 0%, #1885bc 100%);
	transition: 0.3s;
	&:hover {
		top: -7px;
		-webkit-box-shadow: 0 10px 15px 0 #1eacf5;
		box-shadow: 0 10px 15px 0 #1eacf5;
	}
}
