*,
*::before,
*::after {
	box-sizing: border-box;
}

.container__modal_form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* -webkit-box-align: center; */
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	// width: 100%;
	height: 100%;
}
.container__modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	z-index: 99;
	opacity: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	-webkit-animation: showModal 1.5s 0s both;
	animation: showModal 1.5s 0s both;
}
@keyframes showModal {
	from {
		// display: none;
		opacity: 0;
	}

	to {
		// display: block;
		opacity: 1;
	}
}

.modal_title {
	font-size: 24px;
	font-weight: 700;
	color: #1eacf5;
	text-align: center;
	margin: 10px;
	line-height: 24px;
}

.modal__form {
	position: relative;
	z-index: 2;
	max-height: 99vh;
	overflow-y: auto;
	width: 95%;
	max-width: 535px;
	// display: flex;
	// position: fixed;
	// top: 30%;
	// background-color: #fff;
	// text-align: center;
	// padding: 5px 65px 15px;
	// border-bottom-left-radius: 3px;
	// border-bottom-right-radius: 3px;
	// flex-direction: column;
	// align-items: center;
	// min-width: 100%;
	// min-height: 100%;
	// z-index: 1;
	&_btn {
		position: absolute;
		right: 0%;
		top: 5%;
	}
}
.modal__btn {
	background-color: transparent;
	font-size: 24px;
	color: #ffffff;
	font-weight: 400;
	border: none;
	outline: none;
	cursor: pointer;
}
