.input_item {
	min-width: 100%;
	margin-top: 15px;
}

.input_box {
	position: relative;
	width: 100%;
}

.icon {
	position: absolute;
	color: black;
	top: 1%;
	left: 5%;
	pointer-events: none;
	z-index: 2;
}

.input {
	border-radius: 5px;
	padding: 13px 50px;
	border: none;
	&[placeholder] {
		text-overflow: ellipsis;
	}
	&::-moz-placeholder {
		text-overflow: ellipsis;
	}
	&:-moz-placeholder {
		text-overflow: ellipsis;
	}
	&:-ms-input-placeholder {
		text-overflow: ellipsis;
	}
}
.error {
	position: absolute;
	color: red;
	bottom: -28px;
	left: 0;
}
