.container {
	position: relative;
	min-height: 100vh;

	background: url(../../theme/image/ibg.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.box {
	margin-top: 7%;
	padding: 0 15%;
}
