@import '../../utils/styles/_mixins.scss';

.container__video_reg {
	max-width: 780px;
	margin: 20px auto;
	position: relative;
}

.inside_box {
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.container__input {
	display: flex;
	min-width: 70%;
	max-width: 560px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.checkbox_license {
	max-width: 400px;
	text-align: left;
	position: relative;
	margin-top: 15px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.text_checkbox {
	font-size: 11px;
	line-height: 14px;
	font-family: sans-serif;
	position: relative;
	top: -1px;
}
.container__btn {
	@include costom_flex_col_center;
	min-width: 78%;
	position: relative;
	&::before {
		content: '';
		left: -20%;
		background-image: url(../../theme/image/main-form-left-arrow.png);
		background-position: left center;
		-webkit-animation: slideArrowsLeft 1.5s 0s infinite both;
		animation: slideArrowsLeft 1.5s 0s infinite both;
	}
	@keyframes slideArrowsLeft {
		from {
			margin-left: -10%;
			opacity: 0;
		}

		to {
			margin-left: 0%;
			opacity: 1;
		}
	}
	@keyframes slideArrowsRight {
		from {
			margin-right: -10%;
			opacity: 0;
		}

		to {
			margin-right: 0%;
			opacity: 1;
		}
	}
	&::after {
		content: '';
		right: -20%;
		background-image: url(../../theme/image/main-form-right-arrow.png);
		background-position: right center;
		-webkit-animation: slideArrowsRight 1.5s 0s infinite both;
		animation: slideArrowsRight 1.5s 0s infinite both;
	}
	&::before,
	&::after {
		content: '';
		opacity: 0.5;
		position: absolute;
		width: 140%;
		height: 100%;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		background-repeat: no-repeat;
		pointer-events: none;
		filter: hue-rotate(180deg);
	}
}

.btn_home_box {
	// min-width: 100%;
	position: relative;
	padding: 25px 16px;
	text-align: right;
	min-width: 100%;
	max-width: 468px;
	margin: 0 auto;
	&::before {
		position: absolute;
		display: block;
		content: '';
		width: 132px;
		height: 126px;
		background: url(../../theme/image/main-form-button.png) center center
			no-repeat;
		background-size: 100% 100%;
		z-index: 2;
		left: -70px;
		top: 50%;
		margin-top: -63px;
		pointer-events: none;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		filter: hue-rotate(180deg);
	}
}
.container__input_modal {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

.form_title_modal {
	text-align: center;
	margin: 15px 0 0 0;
	color: #000;
	font-size: 16px;
	line-height: 18px;
}

.container__btn_modal {
	@include costom_flex_col_center;
	min-width: 100%;
	position: relative;
}

.btn_home_box_modal {
	min-width: 100%;
	position: relative;
}

.item__input_modal {
	background-color: #ededed;
	border: none;
	width: 100%;
	padding-left: 40px;
	border-radius: 3px;
	outline: none;
	height: 40px;
	font-size: 14px;
}

.icon_modal {
	position: absolute;
	color: black;
	top: 1%;
	left: 10%;
	pointer-events: none;
}

.text_checkbox_modal {
	font-size: 11px;
	line-height: 14px;
	font-family: sans-serif;
	position: relative;
	top: -1px;
	color: black;
}
.checkbox_license_modal {
	max-width: 400px;
	text-align: left;
	position: relative;
	margin-top: 15px;
	padding: 5px;
}

.done {
	padding-top: 70px;
	padding-bottom: 30px;
	max-width: 100%;
	overflow-x: hidden;
}
.container {
	margin-top: 20px;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.done__heading {
	margin-bottom: 20px;
	font-size: 38px;
	text-transform: uppercase;
	color: #1a8dc7;
	text-align: center;
	font-weight: 700;
}
.done_block {
	background: url(../../theme/image/done-reviews-bg.png) center top no-repeat;
	padding-top: 270px;
}
.done_block__title {
	text-align: center;
	margin-bottom: 70px;
	text-transform: uppercase;
	color: #132752;
	font-size: 20px;
	font-weight: 700;
}
.done_block__reviews {
}
.done_block__reviews_title {
	margin-bottom: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #132752;
	font-size: 16px;
}
.how {
	padding-top: 30px;
	padding-bottom: 40px;
	background: #fff url(../../theme/image/how-bg.png) center center no-repeat;
}
.container__how {
	margin-top: 20px;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.how__player {
	width: 100%;
	height: 425px;
	position: relative;
}
.container__how_heading {
	text-align: center;
	font-size: 24px;
	margin-bottom: 15px;
	color: #1a8dc7;
	text-align: center;
	font-weight: 700;
}

.item_footer {
	list-style-type: none;
	z-index: 1;
}
.menu_footer {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
}

.link {
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin: 15px;
	&:hover {
		text-decoration: underline;
	}
}

.container__brand {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 35px;
	padding-top: 100px;
	padding-left: 18%;
	padding-right: 18%;
}

.form__wrapper {
	background: #fff url(../../theme/image/form-bg.jpg) center center no-repeat;
	min-height: 451px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.container__wrapper {
	margin-top: 20px;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.row {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col5 .col6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.col5 {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}
.form {
	width: 90%;
	margin-left: 10%;
	background: #1eacf5;
	padding: 17px 38px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.308);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.308);
}
.down__form_btn {
	display: block;
	width: 100%;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
	height: 60px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.9);
	margin-bottom: 15px;
	color: #000;
	font-size: 16px;
	font-weight: 700;
}

// .form__container {
// }
.title {
	margin-bottom: 35px;
	font-weight: 900;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
}
.subtitle {
	font-weight: 900;
	color: #fff;
	text-align: center;
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 26px;
}
.col6 {
	color: black;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	margin: 15px;
	max-width: 40%;
}
