.container__steps {
	background: #132752;
	color: #fff;
	padding: 1.9rem;
	&_row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	&_col {
		text-align: left;
		font-weight: 600;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-left: 65px;
		background-position: 25px center;
		background-repeat: no-repeat;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: calc(50% - 17px / 2);
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			width: 17px;
			height: 17px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&:nth-child(1) {
			background-image: url(../../theme/image/step-one.png);
			color: #a5a5a5;
		}

		&:nth-child(2) {
			background-image: url(../../theme/image/step-two.png);
			&::after {
				border-color: #13d61c;
			}
		}

		&:nth-child(3) {
			background-image: url(../../theme/image/step-three.png);
			color: #a5a5a5;
		}
		&:nth-child(4) {
			background-image: url(../../theme/image/step-four.png);
			color: #a5a5a5;
		}

		@media (min-width: 768px) {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
		}
	}
}

.active {
	color: #13d61c;
}
.container {
	margin: 0 auto;
	padding: 0;
	max-width: 979px;
}
