@import '../../utils/styles/_mixins.scss';

.container_form {
	display: flex;
	min-width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 0 15px;
	position: relative;
}
.form_box {
	display: flex;
	min-width: 100%;

	flex-direction: column;
	align-items: center;
}
.form_box_modal {
	display: flex;
	min-width: 100%;
	background-color: #ffffff;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5px 65px 15px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.container__input {
	display: flex;
	min-width: 100%;
	justify-content: space-between;
	align-items: center;
}

.link_checkbox {
	color: blue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.container__btn {
	@include costom_flex_col_center;
	min-width: 100%;
	margin: 40px 0;
	position: relative;
	&::before {
		content: '';
		left: -20%;
		background-image: url(../../theme/image/main-form-left-arrow.png);
		background-position: left center;
		-webkit-animation: slideArrowsLeft 1.5s 0s infinite both;
		animation: slideArrowsLeft 1.5s 0s infinite both;
	}
	@keyframes slideArrowsLeft {
		from {
			margin-left: -10%;
			opacity: 0;
		}

		to {
			margin-left: 0%;
			opacity: 1;
		}
	}
	@keyframes slideArrowsRight {
		from {
			margin-right: -10%;
			opacity: 0;
		}

		to {
			margin-right: 0%;
			opacity: 1;
		}
	}
	&::after {
		content: '';
		right: -20%;
		background-image: url(../../theme/image/main-form-right-arrow.png);
		background-position: right center;
		-webkit-animation: slideArrowsRight 1.5s 0s infinite both;
		animation: slideArrowsRight 1.5s 0s infinite both;
	}
	&::before,
	&::after {
		content: '';
		opacity: 0.5;
		position: absolute;
		width: 140%;
		height: 100%;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		background-repeat: no-repeat;
		pointer-events: none;
		filter: hue-rotate(180deg);
	}
}

.checkbox_license {
	max-width: 400px;
	text-align: left;
	position: relative;
	margin-top: 15px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.text_checkbox {
	font-size: 11px;
	line-height: 14px;
	font-family: sans-serif;
	position: relative;
	top: -1px;
}

.btn_home_box {
	min-width: 100%;
	position: relative;
	&::before {
		position: absolute;
		display: block;
		content: '';
		width: 132px;
		height: 126px;
		background: url(../../theme/image/main-form-button.png) center center
			no-repeat;
		background-size: 100% 100%;
		z-index: 2;
		left: -70px;
		top: 50%;
		margin-top: -63px;
		pointer-events: none;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		filter: hue-rotate(180deg);
	}
}
