.faq {
	padding-top: 30px;
	z-index: 5;
	background-color: #fff;
}
.container {
	margin-top: 20px;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 576px) and (max-width: 992px) {
		max-width: 720px;
	}
	@media (min-width: 992px) {
		max-width: 900px;
	}
}

.faq__items {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.faq__item {
	width: 50%;
	padding-right: 70px;
	padding-bottom: 50px;
	line-height: 20px;
}
.faq__heading_great {
	margin-bottom: 20px;
	font-size: 24px;
	text-transform: uppercase;
	color: #1a8dc7;
	text-align: center;
	font-weight: 700;
}
.faq__heading_small {
	text-align: center;
	margin-bottom: 45px;
	color: #0d1933;
	font-size: 18px;
	font-weight: 700;
}

.faq__item_title {
	align-content: center;
	position: relative;
	padding-left: 60px;
	margin-bottom: 17px;
	min-height: 46px;
	display: block;
	width: 100%;
	color: #0d1933;
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	&::before {
		position: absolute;
		display: block;
		content: '?';
		color: #6d6d6d;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		width: 38px;
		height: 38px;
		line-height: 38px;
		top: 50%;
		margin-top: -19px;
		left: 0;
		background: #e6e6e6;
		border-radius: 50%;
	}
}
.faq__item_cont {
	font-size: 16px;
	color: #6d6d6d;
}
