@import '../../utils/styles/_mixins.scss';

.container__input_modal {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

.form_title_modal {
	text-align: center;
	margin: 15px 0;
	color: #000;
	font-size: 16px;
	line-height: 18px;
}

.container__btn_modal {
	@include costom_flex_col_center;
	min-width: 100%;
	// margin: 40px 0;
	position: relative;
}

.btn_home_box_modal {
	min-width: 100%;
	position: relative;
}

.item__input_modal {
	background-color: #ededed;
	border: none;
	width: 100%;
	padding-left: 40px;
	border-radius: 3px;
	outline: none;
	height: 40px;
	font-size: 14px;
}

.icon_modal {
	position: absolute;
	color: black;
	top: 1%;
	left: 10%;
	pointer-events: none;
}

.text_checkbox_modal {
	font-size: 11px;
	line-height: 14px;
	font-family: sans-serif;
	position: relative;
	top: -1px;
	color: black;
}

.checkbox_license_modal {
	max-width: 400px;
	text-align: left;
	position: relative;
	margin-top: 15px;
	padding: 5px;
}
